@{
    // This Site
    string siteURL = "https://KelvynPark68.com/";

    // Set Site Name
    string siteName = "Kalvyn Park Class of 1968";

    // Short name appears in Nav Bar at top on Phones... Can be longer like "Avon Park Nazarene" or "Avon Park Naz"
    string siteNameShort = "KPHS - 68";

    // Overall Organization
    string siteOrganization = "KPHS68";

    // Set default values
    string pageTitle = ViewBag.Message + " | " + siteNameShort;
    string description = "WELCOME! to the website of Kelvyn Park High School 1968 graduating class and friends. We hope to remain in contact with each other as much as possible through this site.";
    string folder = "";

    //Share Image and ShareImage folder
    string shareImage = "About-ls.jpg";
    string shareImageFolder = siteURL + "Gallery/_ShareImages/";
    string imageWidth = "1200";
    string imageHeight = "630";

    // 'Active Link' variables to keep track of the active link
    string active01 = "";
    string active02 = "";
    // string active03 = "";
    // string active04 = "";
    string active05 = "";
    string active06 = "";
    string active07 = "";
    string active08 = "";
    // string active09 = "";
    // string active10 = "";
    // string active11 = "";
    string active12 = "";
    string active13 = "";
    string active14 = "";
    string active15 = "";
    // string active16 = "";

    // Change Link Share card information based on the View link shared
    switch (ViewBag.Message)
    {
        case "Home":
            {
                pageTitle = siteNameShort;
                folder = "";
                active01 = "active";
                break;
            }
        case "Contact":
            {
                pageTitle = "Contact Us";
                folder = "Info/Contact/";
                description = "Please contact us and we will respond!";
                active02 = "active";
                break;
            }
        case "Classmates":
            {
                pageTitle = "Classmates";
                description = "Classmates Area";
                folder = "Info/Members/";
                active05 = "active";
                break;
            }
        case "Gallery":
            {
                pageTitle = "Our Gallery";
                description = "Our Online Gallery";
                folder = "Gallery/";
                active06 = "active";
                break;
            }
        case "Privacy":
            {
                pageTitle = "Privacy Policy";
                description = "Our Privacy Policy";
                folder = "Info/Privacy";
                active07 = "active";
                break;
            }
        case "TOS":
            {
                pageTitle = "Terms of Service";
                description = "Our terms of Service";
                folder = "Info/TOS";
                active08 = "active";
                break;
            }
        case "Links":
            {
                pageTitle = "More Links";
                folder = "Info/Links";
                active12 = "active";
                break;
            }
    }

    // Page Share Settings -- (shows on "PageShare" card when a link is shared)
    string ogSite_Name = siteOrganization;
    string ogTitle = pageTitle;
    string ogDescription = description;
    string ogURL = siteURL + folder;
    string canonical = siteURL + folder;

    string ogImage = shareImageFolder + shareImage;
    string ogImageWidth = imageWidth;
    string ogImageHeight = imageHeight;
}

<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Site Name -->
    <title>@pageTitle</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="@description" />
    <link rel="canonical" href="@canonical" />

    <!-- Google Site Verification -->
    @* <meta name="google-site-verification" content="wdaytYpXJY1e9iWkOJXCS6HBuc0aCDxz--VJTfwTT3E" /> *@

    <!-- FavIcon(s) - (all your Logo... plenty of them!) -->
    <link rel="icon" type="image/x-icon" href="../../resources/icons/favicon.ico" sizes="64x64" />
    <link rel="icon" type="image/png" href="../../resources/icons/favicon_small.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="../../resources/icons/favicon_medium.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="../../resources/icons/favicon_large.png" sizes="64x64" />
    <link rel="apple-touch-icon" sizes="152x152" href="../../resources/icons/small.png" />
    <link rel="apple-touch-icon" sizes="167x167" href="../../resources/icons/medium.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="../../resources/icons/kphslogo.png" />

    <!-- Default FB App ID unused -->
    <meta property="fb:app_id" content="966242223397117" />

    <!-- Link Share Setup -->
    <!-- This info is used for the card shown when you share a link on the web (I call it "Link Share"). -->
    <!-- (more info here: https://ogp.me/) -->
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:title" content="@ogTitle" />
    <meta property="og:determiner" content="The" />
    <meta property="og:description" content="@ogDescription" />
    <meta property="og:site_name" content="@ogSite_Name" />
    <meta property="og:url" content="@ogURL" />
    <meta property="og:image:url" content="@ogImage" />
    <meta property="og:image:alt" content="Logo Image" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content=@ogImageWidth />
    <meta property="og:image:height" content=@ogImageHeight />

    <!-- Twitter Link Share Setup -->
    <!-- (more info here: https://developer.twitter.com/en/docs/twitter-for-websites/cards/overview/markup) -->
    <meta name="twitter:card" content="photo" />
    <meta name="twitter:title" content="@ogTitle" />
    <meta name="twitter:image" content="@ogImage" />
    <meta name="twitter:image:width" content=@ogImageWidth />
    <meta name="twitter:image:height" content=@ogImageHeight />

    <!-- Bootstrap and JQuery (Local) -->
    @* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
    @* <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" /> *@
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@

    <!-- Bootstrap and JQuery (Web) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <!-- CSS Link Setup -->
    <link rel="stylesheet" href="~/lib/css/colors.css" />
    <link rel="stylesheet" href="~/lib/css/fontsize.css" />
    <link rel="stylesheet" href="~/lib/css/mycards.css" />
    <link rel="stylesheet" href="~/lib/css/sizes.css" />
    <link rel="stylesheet" href="~/lib/css/spacing.css" />
    <link rel="stylesheet" href="~/lib/css/site.css" />

    <!-- Site.js -->
    <script type="text/javascript" src="~/lib/js/site.js" asp-append-version="true"></script>

</head>
<body>

    <!-- Top Header Navbar Menu -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-gray-darker px-0">
        <div class="d-flex flex-grow-1">

            <!-- Set to show on lg -->
            <a style="text-decoration: none" class="text-decoration-none navbar-brand navbar-text nav-text-fs text-white d-none d-lg-inline-block ps-2" href="/">@siteName</a>

            <!-- Set to show on sm -->
            <a style="text-decoration: none" class="text-decoration-none navbar-brand navbar-text nav-text-fs text-white d-lg-none d-inline-block w-100 text-center me-0 ps-5" href="/">@siteNameShort<img alt="" class="home-size px-2 pb-2" src="~/lib/svg/Logos/pantherslogo.svg" alt="Bird Image" /></a>

            <!-- Toggle Button -->
            <div class="text-left pe-2 pt-1">
                <button class="navbar-toggler pe-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>

        <!-- Selection Choices -->
        <div class="collapse navbar-collapse flex-grow-1 text-right px-2" id="navbarToggler">

            <ul class="ps-4 navbar-nav ms-auto flex-nowrap">

                <!-- Home -->
                <li class="nav-item">
                    <a class="@active01 nav-link nav-link-fs" href="/"><img alt="" class="show-me-at-the-bottom home-size px-2 pb-2" src="~/lib/svg/buttons/home.svg" />Home</a>
                </li>

                <!-- Gallery -->
                <li class="nav-item">
                    <a class="@active13 nav-link nav-link-fs" href="~/KPHS68Combo"><img alt="" class="show-me-at-the-bottom home-size px-2 pb-2" src="~/lib/svg/cards/pictures-white.svg" />Gallery</a>
                </li>
            </ul>
        </div>
    </nav>


    @* <div id="projector"></div> *@
    <div id="top_grad">

        <div class="row mx-auto m-0" id="pageHeader">

            <div class="col-3">
                <img src="~/resources/kphslogo.png" width="200" height="195" alt="KPHS Class of 1968" />
            </div>

            <div class="col-8 pt-2">
                <h1 class="text-end text-dark">Kelvyn Park Class of 1968</h1>
                <h2 class="text-end text-dark">KelvynPark68.com</h2>
            </div>
        </div>        

            <!-- Main container (Views) -->
            <div class="container" id="maincontainer"> <!-- Main Container -->

                <main role="main" class="p-0"><!-- Main -->

                <div id="content"><!-- Start View Content -->

                    @RenderBody()

                    <div id="footer"><!-- Start view footer -->

                        <div id="eraser"></div>
                        <div id="chalk"></div>
                        <div id="ruler"></div>
                        <p>&copy; 2024 KPHS Class of '68 <a href="#" class="084908D8-730C-4F75-B27B-1D611B31365A">Contact Us</a></p>

                    </div><!-- End View footer -->

                </div><!-- End View Content -->

                </main><!-- End Main -->

            </div><!-- End Main Container -->            

    </div>

    <!-- Bottom site Footer Navbar Menu -->
    <footer class="navbar navbar-dark border-top bg-gray-darker visually-hidden" role="contentinfo" aria-label="Site footer">

        <div class="container text-right">
            <div class="row w-100 gx-0 gx-lg-5">

                <!-- Info -->
                <div class="col-4">
                    <h6 class="navbar-text navbar-text-footer-fs text-white mb-0">Info</h6>
                    <ul class="navbar-nav ms-auto flex-nowrap ps-2">

                        <!-- Home -->
                        <li class="nav-item text-light">
                            <a class="@active01 nav-link footer-fs text-nowrap" href="/">About Us</a>
                        </li>

                        <!-- Contact -->
                        <li class="nav-item text-light">
                            <a class="@active02 nav-link footer-fs text-nowrap" href="https://www.classcreator.com/Chicago-IL-Kelvyn-Park-1968/class_contact.cfm">Contact Us</a>
                        </li>

                        <!-- Privacy -->
                        <li class="nav-item text-light">
                            <a class="@active07 nav-link footer-fs text-nowrap" href="/Info/Privacy">Privacy Policy</a>
                        </li>

                        <!-- TOS -->
                        <li class="nav-item text-light">
                            <a class="@active08 nav-link footer-fs" href="/Info/TOS">Terms of Service</a>
                        </li>
                    </ul>
                </div>

                <!-- Features -->
                <div class="col-4">
                    <h6 class="navbar-text navbar-text-footer-fs text-white mb-0">Features</h6>
                    <ul class="navbar-nav ms-auto flex-nowrap ps-2">

                        <!-- Email Sign-up -->
                        <li class="nav-item text-light">
                            <a class="@active14 nav-link footer-fs" href="https://mailchi.mp/5dc417814456/apncsignup" target="_blank">Email Sign-up</a>
                        </li>

                        <!-- Blog -->
                        <li class="nav-item text-light">
                            <a class="@active15 nav-link footer-fs" href="https://KPHS68.wordpress.com/" target="_blank">Blog</a>
                        </li>

                    </ul>
                </div>

                <!-- Links -->
                <div class="col-4 pe-0">
                    <h6 class="navbar-text navbar-text-footer-fs text-white mb-0">Links</h6>
                    <ul class="navbar-nav ms-auto flex-nowrap ps-2">

                        <!-- Gallery -->
                        <li class="nav-item text-light">
                            <a class="@active06 nav-link footer-fs" href="~/KPHS68Combo">Gallery</a>
                        </li>

                        <!-- More Links -->
                        <li class="nav-item text-light">
                            <a class="@active12 nav-link footer-fs" href="/Info/Links">More Links</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

        <!-- Copyright -->
        <div class="w-100 bg-gray-darker text-white pt-4">
            <p class="text-center py-2 text-white" style="font-size: 10px;">Copyright © @DateTime.Now.Year - All Rights Reserved.</p>
        </div>
    </footer>

    <script type="text/javascript">
        (function () {
            var _rwObsfuscatedHref0 = "mai";
            var _rwObsfuscatedHref1 = "lto";
            var _rwObsfuscatedHref2 = ":pa";
            var _rwObsfuscatedHref3 = "tri";
            var _rwObsfuscatedHref4 = "cia";
            var _rwObsfuscatedHref5 = ".br";
            var _rwObsfuscatedHref6 = "ide";
            var _rwObsfuscatedHref7 = "wel";
            var _rwObsfuscatedHref8 = "l@g";
            var _rwObsfuscatedHref9 = "mai";
            var _rwObsfuscatedHref10 = "l.c";
            var _rwObsfuscatedHref11 = "om";
            var _rwObsfuscatedHref = _rwObsfuscatedHref0 +
                _rwObsfuscatedHref1 +
                _rwObsfuscatedHref2 +
                _rwObsfuscatedHref3 +
                _rwObsfuscatedHref4 +
                _rwObsfuscatedHref5 +
                _rwObsfuscatedHref6 +
                _rwObsfuscatedHref7 +
                _rwObsfuscatedHref8 +
                _rwObsfuscatedHref9 +
                _rwObsfuscatedHref10 +
                _rwObsfuscatedHref11;
            Array.from(document.getElementsByClassName("084908D8-730C-4F75-B27B-1D611B31365A")).forEach(function (x) { x.href = _rwObsfuscatedHref });
        })()

    </script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
